<div class="container-fluid p-0">
   
        <div class=" position-relative">
            <img class="w-100" src="https://images.pexels.com/photos/7688336/pexels-photo-7688336.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Explorez l'Océan des Possibilités de Stages</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Plongez dans un univers où chaque vague est une opportunité de stage. Notre plateforme vous guide vers l'expérience professionnelle de vos rêves.</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Trouver Un Stage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- Category Start -->
<app-categorie></app-categorie>
<!-- Category End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0  rounded overflow-hidden">
                    <div class="col-12 text-start">
                        <img class="img-fluid w-100" src="../../assets/img/image1.jpg">
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Explorez Votre Avenir Professionnel : Emploi et Stage</h1>
                <p class="mb-4">Naviguez entre la recherche d'emploi et de stage avec succès :

                </p>
                <h1 class="mb-4">Quête Double</h1>
                <p class="mb-4">Comprenez les nuances entre emploi et stage, deux chemins vers la réussite professionnelle.</p>
                <h1 class="mb-4">Spécificités du Stage</h1>
                <p>
                    <p><i class="fa fa-check text-primary me-3"></i>CV Adapté : Mettez en avant votre potentiel académique.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Ressources Universitaires : Exploitez les services de votre université.
                    </p>
                    <p><i class="fa fa-check text-primary me-3"></i>Plateformes de Stages : Cherchez des opportunités cibléess.
                    </p>
                    <p><i class="fa fa-check text-primary me-3"></i>CV Adapté : Mettez en avant votre potentiel académique.</p>

                    <i></i>
                    <i></i>
                    <i></i>
                

                
            </div>
        </div>
    </div>
        </div>
<!-- About End -->


<!-- Jobs Start -->
<app-job-list></app-job-list>
<!-- Jobs End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">Our Clients Say!!!</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="assets/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="assets/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="assets/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="assets/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Client Name</h5>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
